.header {
    background-color: #8e8e8ed7;

}

.header .parent{
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
}
.header .parent div{
    position: relative;
    background-color: #fff;
    width: 100px;
    height: 40px;
    left: 200px;
    border: 1px solid black;
}
.header .parent .logo{
font: 60px;
text-align: center;
position: relative;
bottom: 4px;
}
s
.header .navbar{
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    left: 1100px;
    bottom: 40px;
}
